<%  layout('layout/dashboard') -%>
<%- include('../partial/admin-nav')%>
<%- include('../partial/flash') %>

<div class="container mt-5">
<form method="POST" action="/admin/users/<%= users._id %>/edit?_method=PUT" novalidate class="validated-form">
  <table class="table table-striped table-sm" style="border: 1px solid grey;">
      <thead>
        <tr>
          
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Grade</th>
          <th>Role</th>
          <th>Age</th>
        
        

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= users.id%></td>
          <td><input type="text" value="<%= users.username%>" name="User[username]" style="width: 50%;"></td>
          <td><input type="text" value="<%= users.email%>" name="User[email]" style="width: 100%;"></td>
          <td><input type="text" value="<%= users.sex%>" name="User[sex]" style="width: 50%;"></td>
          <td><input type="text" value="<%= users.role%>" name="User[role]" style="width: 50%;"></td>
          <td><input type="text" value="<%= users.age%>" name="User[age]" style="width: 50%;"></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-info" type="submit" href="/admin/users/<%= users._id %>">Update User</button>
    <a class="btn btn-info" type="button" href="/admin/users">Back</a>
  </form>
  
</div>